<html>
    <head>
        <meta charset="utf-8"/>
        <title>HAWK EYE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </head>
    <body>
        <nav class="nav-site">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}       
        <header>
        <h1>About us</h1>
        </header>
        <h3> Vikash Pathak</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/vikgo-27/">Vikash Pathak</a></li>
            <li><a href="https://github.com/VIKGO123">Yuvraj Singh</a></li>
            <li><a href="https://twitter.com/vegaspathak">Vipin</a></li>
        </ul>
    </body>
</html>
